body{
    width: 330px;
}

#popup{
    padding: 30px;
}

#searchButton{
    width: 150px;
    font-size: 12px;
}

#footer{
    background-color: #EEEEEE;
    height: 30px;
}

a{
    text-decoration: none;
    font-size: 12px;
}